*{
  margin: 0px;
  padding: 0px;
}
 
}
#contant h1
{
  margin: 15px;
  padding: 15px;
}
#back
{
  background: url("css/contactus.png");
  height: 250px;
}

#back
{
  background: #E6E6FA;

}
.contact-form{ 
  background:#0005;
  color: black;
  width: 340px;
  height: 480px;
  top: 45%;
  left:38%;
  transform: translate(50% -50%);
  box-sizing: border-box;
  position: absolute;
  padding: 70px 30px;
} 
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}
.contact-form input{
  width:100%;
  margin-bottom: 20px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="phone no."]{
  border: none;
  outline: none;
  height: 30px;
  color: black;
  font-size: 16px;
}

.color{
	color:#D8A375 ;
}	
::placeholder{
  color: rgba(255,255,255,.5);
}

.contact-form input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  font-size: 18px ;
  cursor: pointer;
  border-radius: 30px;
  height:50px;
}