@charset "ISO-8859-1";
body{
	height:100vh;
	display:flex;
	justify-content:right;
	align-items:center;
}
.image{
	width:100%;
	float:right;
}

.image img{
	width:100%;
	padding:10px;
	box-shadow:0 0 10px #999999;
	height:260px;
	width:260px;
	border-radius:50%;
	cursor:pointer;
	transition:400ms;
}
#about h2{
	margin-bottom:25px;
}