@charset "ISO-8859-1";
body{
	font-family: 'Inter', sans-serif;
	margin: 0;
	background-image: url("support.png");
    background-repeat: no-repeat;
     height: 100%;
     background-size: cover;
     background-position:center;
 }

.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: #313438;
	height: 150vh;
	
}


.header{
	display: flex;
	justify-content: space-evenly;
	color: #fff;
	background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%);
	padding: 2em 0;
	align-items: center;
}

.contact-search{
	font-size: 1.2em;
	padding:.3em .3em;
	border-radius: 100px;
	border:1px solid white;
	outline: none;
}

.contacts-library{
	background: #313438;
}

.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em;
	transition: 0.3s;
}

.contact-section:hover{
	background-color: #48494a;
}


.contact-list{

}

.list-item{

}

.contact-name{
	color: black;
	font-size: 1.2em;
}

ul{
	margin: 0;
	padding: 0;
	width: 100%;
}
hr{
	border: 1px solicontactd #494a4b;
}

.list__item{
	list-style: none;
}

